.FoodItem {
  max-width: 1000px;
  margin: 0 auto;
}
.FoodItemInfo {
  max-width: 24rem;
  margin: 0 1rem;
}
.FoodItemInfo > h1 {
  margin: 1rem 0;
}
.FoodItemInfo > P {
  font-size: 12px;
  opacity: 0.5;
  font-weight: 600;
  margin: 0.3rem 0;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}
.price_quantity {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.8rem;
}
.bigImg > img {
  min-width: 16rem;
  max-width: 90%;
  margin: 0 1rem;
}
