.OrderInfo {
    min-width: 90%;
    margin: 1rem 0.3rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    p {
        font-size: 0.9rem;
        opacity: 0.4;
        font-weight: 530;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;
    }
    samp {
        font-weight: 650;
    }
    @include mq(800px) {
        p {
            font-size: 1rem;
            margin-bottom: 0.7rem;
        }
    }
    .orderFoods {
        max-height: 33vh;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        padding-right: 13px;
        box-sizing: content-box;
    }
}
