.FoodItemMenu {
  overflow-x: hidden;
}
.foodMenuLink {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  list-style: none;
}
.menuItem {
  margin: 0 1rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.selected {
  color: red;
  border-bottom: 2px solid red;
}
