.DeliveryDetailsForm {
  align-items: center;
  margin: 2rem 0;
}

.input {
  display: block !important;
}
.MuiOutlinedInput-input {
  min-width: 25rem !important;
}
@media (max-width: 440px) {
  .MuiOutlinedInput-input {
    max-width: 90vw !important;
    min-width: 20rem !important;
  }
}
