.order {
  max-width: 1000px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 65vh; */
  flex-wrap: wrap;
  gap: 1rem;
}
@media (max-width: 440px) {
  .order {
    margin: 0 1rem;
  }
}
