@import "Styles/Common/Common";
@import "Styles/Functions/Function";
@import "Styles/Variable/Variable";
@import "./Components/HomeContainer/Search/Search.scss";
@import "./Components/HomeContainer/FoodItemMenu/FoodItemMenu.scss";
// @import "./Components/HomeContainer/FoodItem/FoodItem.scss";
@import "./Components/HomeContainer/FoodItemContainer/FoodItemCard/FoodItemCard.scss";
@import "./Components/OrderContainer/Order/Order.scss";
@import "./Components/OrderContainer/DeliveryDetailsForm/DeliveryDetailsForm.scss";
@import "./Components/OrderContainer/OrderInfo/OrderInfo.scss";
@import "./Components/OrderContainer/OrderInfo/OrderedFood/OrderedFood.scss";
@import "./Components/OrderContainer/OrderInfo/OrderedPrice/OrderedPrice.scss";
@import "./Components/DashBoardContainer/DashBoard/DashBoard.scss";
@import "./Components/DashBoardContainer/SideBar/SideBar.scss";
@import "./Components/Authentication/Authentication.scss";
//AllRoute scss
@import "./Components/DashBoardContainer/AllRoute/Profile/Profile.scss";
@import "./Components/DashBoardContainer/AllRoute/AddAdmin/AddAdmin.scss";
@import "./Components/DashBoardContainer/AllRoute/AddFood/AddFood.scss";
$mainColor: red;
$textColor: white;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100vw !important;
    font-family: "Oxygen", sans-serif;
}
.link {
    text-decoration: none !important;
}

.btn {
    cursor: pointer;
    color: $textColor;
    background-color: $mainColor;
    border-radius: 18px;
    padding: 0.6rem 1.2rem;
    border: none;
    outline: none;
    &:active {
        box-shadow: 0 0 4px 6px rgba(255, 255, 255, 0.6);
        text-shadow: 0 0 4px 8px rgba(255, 255, 255, 0.6);
    }
}
.squareBtn {
    width: 100%;
    height: 2.4rem;
    margin: 1rem 0;
    color: $textColor;
    background-color: $mainColor;
    outline: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 4px;
}
.active {
    background-color: $mainColor;
    cursor: pointer;
}
.inActive {
    background-color: lightgray;
    cursor: no-drop;
}
.MuiSelect-select.MuiSelect-select {
    padding-right: 240px !important;
}
.MuiSelect-selectMenu {
    overflow: visible !important;
}
